*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #EBE8E8;
}

.cont{
    height: 100%;
    /* width: 100%; */
    display: flex;
    align-items: center;
}

.nav-bar{
    height: 60px;
    /* height: 10vh; */
    width: 100%;
    justify-content: space-around;
    background-color: #2874F0;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: sticky;
}

.logo{
    height: 50%;
    width: auto;
}


.search{
    display: flex;
    height: 40%;
    width: 30vw;
    background-color: #fff;
    border-radius: 2px;
    justify-content: space-between;
    align-items: center;
    padding: 4px 5px;
}

.search{
    height: 4vh;
    min-width: 80%;
    border: none;
    border-radius: inherit;
}

.search-button{
    margin-left: 2px;
    cursor: pointer;
}


.login-button, .more, .cart{
    height: 60%;    
    width: 7vw;
    min-width: min-content;
    padding: 0 5px;
    border-radius: 2px;
    border: none;
    text-align: center;
    box-shadow: none;
    font-size: 16px;
    font-weight: 600;
}

.login-button{
    color: #2874F0;
    background-color: #fff;
}

.login-button:hover{
    color: #fff;
    background-color: #2874F0;
}

.more, .cart{
    background-color: transparent;
    color: #fff;

}

.more:hover .rotate{
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}

.rotate{
    transition: transform .3s ease-in-out;
}

.seller{
    color: #fff;
}

.cart>span{
    margin-right: 5px;
}


/* Category */

.category{
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.category-container{
    height: 126px;
    min-height: 126px;
    /* width: 1280px; */
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    background-position: 0% 0%;
    color: #111112;
    padding: 10px;
}


.product{
    height: 126px;
    min-height: 126px;
    width: 1480px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    background-position: 0% 0%;
    color: #111112;
    padding: 10px;
}

.deals{

}